.card {
    width: 50%;
    height: 50%;
    min-height: 52vh;
    background: #bda280;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-family: 'Kyiv Type Titling', sans-serif;
    font-size: 40px;
    color: #A65B00;
    text-align: center;
    -webkit-text-stroke: 0.1px black;
}

.image {
    width: 70%;
    height: 70%;
    border-radius: 15px;
    display: block;
}

.description {
    font-family: 'Handjet', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    max-width: 416px;
    color: black;
}

.pathway
{
    font-size: 30px;
    font-family: 'Handjet', sans-serif;
    position: absolute;
    top: -2%;
    left: 6%;
    letter-spacing: 4px;
}
