.card {
    width: 900px;
    background: #D8C0A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    margin: auto;
    margin-top: -50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6); /* Глубокая тень */
}

.title {
    font-family: 'Handjet', sans-serif;
    font-size: 40px;
    color: #A65B00;
    text-align: center;
    -webkit-text-stroke: 0.1px black;
}

.image {
    width: 70%;
    height: 70%;
    border-radius: 10px;
    margin-top: -20px;
}

.description {
    font-family: 'Handjet', sans-serif;
    font-size: 35px;
    text-align: justify;
    margin-top: 20px;
    max-width: 650px;
    color: black;
}

.pathway {
    font-size: 25px;
    font-family: 'Handjet', sans-serif;
    letter-spacing: 4px;
    justify-self: start;
    margin-left: -700px;
    margin-bottom: -20px;
}
