.card {
    width: 50%;
    height: 10%;
    background: #dbb98d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    top: -40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: relative; /* Добавляем относительное позиционирование */
}

.title {
    font-family: 'Kyiv Type Titling', sans-serif;
    font-size: 40px;
    color: #A65B00;
    text-align: center;
    -webkit-text-stroke: 0.1px black;
}

.image {
    width: 70%;
    height: 70%;
    border-radius: 15px;
    display: block;
}

.description {
    font-family: 'Handjet', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    max-width: 416px;
    color: black;
}

.pathway {
    font-size: 25px;
    font-family: 'Handjet', sans-serif;
    letter-spacing: 4px;
    position: absolute; /* Используем абсолютное позиционирование */
    left: 20px; /* Расстояние от левого края */
    top: -10px; /* Позиция сверху, можно настроить */
}
