body {
    background-color: #b8aa99;
}

.logo {
    font-family: 'Inspiration', sans-serif;
    font-size: 70px;
    color: #ffc073;
    -webkit-text-stroke: 0.6px black;
    text-shadow: 1px 1px 2px black, 0px -4px 5px black, 0px 0px 25px black;
    margin-top: 30px;
    margin-left: 60px;
}

.under_logo {
    font-family: 'Handjet', sans-serif;
    text-align: center;
    font-size: 35px;
    color: #ffc073;
    -webkit-text-stroke: 0.2px black;
    text-shadow: 1px 1px 4px black, 0px -1px 4px black, 0px 0px 25px black;
    position: absolute;
    top: 75px;
    left: 75px;
}

.right_buttons_container {
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    right: 70px;
    top: 40px;
}

.right_buttons {
    background-color: #ffa940;
    border-radius: 15px;
    padding: 0px 15px;
    box-shadow: 0 0 0 1px black;
    display: inline-block;
    font-family: 'Handjet', sans-serif;
    font-size: 30px;
    color: black;
    white-space: nowrap;
}

a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Устанавливает цвет текста такой же, как у родительского элемента */
}