.card {
    width: 700px;
    min-height: 145px;
    background: #D8C0A0;
    display: flex;
    border-radius: 15px;
    position: relative;
    font-family: 'Handjet', sans-serif;
    line-height: 0.9;
    flex-direction: column;
    padding-bottom: 1%;
}

.title {
    font-size: 32px;
    text-align: left;
    margin-left: 225px;
    margin-top: 10px;
}

.description {
    font-family: 'Handjet', sans-serif;
    font-size: 24px;
    margin-left: 225px;
    max-width: 455px;
    text-align: justify;
    margin-top: -3%;
    overflow-wrap: break-word; 
    word-wrap: break-word;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000; /* Темно-синий цвет */
  margin-left: 225px;
}

.image {
    position: absolute;
    height: 100%;
    object-fit:fill;
    width: 30%;
    border-radius: 15px;
    text-align: left;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-left: 225px;
  margin-bottom: 0;
  margin-top: auto; /* Прижимаем к низу */
}

.buttons button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #cca26f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

.buttons button:active {
  filter: brightness(1.3);
  transform: translateY(0);
}