.container {
    display: flex;         
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
    margin-top: -8%;
}

#main_img {
    width: 23%;
    opacity: 0.5;
}

h3 {
    width: 38%;
    color: #f5bd78;
}

h2 {
    color: #f3d1a7;
    font-size: 40px; /* Размер шрифта */
    color: #ffc073; /* Основной цвет текста */
    text-shadow: 
        1px 1px 2px black,   /* Тень слева сверху */
        0px -4px 5px black,  /* Тень слева снизу */
        0px 0px 25px black;  /* Тень по центру для создания эффекта свечения */
    text-align: center; /* Выравнивание текста по центру */
    margin: 0px 0; /* Отступ сверху и снизу */
}