{% load static %}

<div class="card">
    <link rel="stylesheet" href="{% static 'css/service_card.css' %}">
    <h2 class="card_title">{{ service.name }}</h2>
    <img class="image" src="{% static 'img/' %}{{ service.image }}" alt="{{ service.name }}" />
    <p class="description">
        {{ service.description }}
    </p>
    <div class="buttons">
        <a href="{% url 'service_detail' service.id %}">
            <button>Подробнее</button>
        </a>
        <a>
            <button>Добавить в заявки</button>
        </a>
        
    </div>
</div>
