.container {
    font-family: Arial, sans-serif;
    color: #f4e1c1;
    text-align: center;
    margin-top: -5%;
}
.container table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ddd;
    color: black;
}
.container th, .container td {
    padding: 10px;
    border: 1px solid black;
}

.row:active
{
    filter: brightness(1.3);
    background-color: #241313;
}

.container th {
    background-color: #7a6a5a;
    color: white;
}

.title {
    font-family: 'Kyiv Type Titling', sans-serif;
    font-size: 60px;
    color: #ffc073;
    -webkit-text-stroke: 0.5px black;
}
