.register_container {
    width: 400px;
    min-height: 450px; /* Немного больше, чем у логина, из-за дополнительного поля */
    background: #e5c59db2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: 'Handjet', sans-serif;
    padding: 10px;
    margin: 0 auto;
}

.register_container h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.register_container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register_container label {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.register_container input {
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 98%;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #d68e36;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;   
}

.button:hover {
    background-color: #ec9d3d;
}

.login_link {

    text-align: center;
}

.login_link p {
    font-size: 16px;
}

.login-button {
    background: none;
    border: none;
    color: #3f3905;
    text-decoration: underline;
    cursor: pointer;
}

.login-button:hover {
    color: #867a0b;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.back-button:hover {
    background-color: #e53935;
}